@font-face {
	font-family: "Coolvetica";
	src: url("assets/fonts/coolvetica/coolvetica.ttf");
}
@font-face {
  font-family: "Sora";
  src: url("assets/fonts/sora/Sora-Light.ttf");
}
@font-face {
	font-family: "LGC_Bold";
	src: url("assets/fonts/lous/LouisGeorgeCafeBold.ttf");
}
@font-face {
	font-family: "LGC";
	src: url("assets/fonts/lous/normal.ttf");
}
@font-face {
	font-family: "Chomsky";
	src: url("assets/fonts/lous/Chomsky.otf");
}
@font-face {
  font-family: "DroidSansMono";
  src: url("assets/fonts/DroidSansMono.ttf");
}
* { 
  background-color: black;
 	box-sizing: border-box; 
 	margin: 0; 
 	padding: 0; 
 	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
} 
 }
 html, body { 
 	height: auto;
 	width: 100%;
 	margin: 0;
 	padding: 5px; 
 	color: white; 
 	font-size: 12px; 
 	font-weight: 400; 
 	font-family: sans-serif;
 	line-height: 26px; 
 	text-align: center;
 }
header{
	text-align: left;
	margin-top: auto;
	transform: translate(20%, 20%);
	position: fixed;
	height: 200px;
	width: 20%;
	top: 10px;
	left: 10px;
}
.header-2{
  text-align: left;
  margin-top: auto;
  transform: translate(20%, 20%);
  position: absolute;
  height: 200px;
  width: 20%;
  top: 10px;
  left: 10px;
}
header h1{
	font-size: 25px;
}
a{
 	font-size: 20px;
 	font-family: sans-serif;
 	letter-spacing: 2px;
 	color: white;
 	text-decoration: none;
 }
a:hover{
 	text-decoration: underline;
 	text-decoration-color: red;
 }
 .extralink{
    font-family:DroidSansMono;
    font-size:45px;
 }
 .extralink:hover{
    color: #8FFE09;
    text-decoration: none;
    font-size:45px;
 }
 .extralink h2.ali3n span{
    position: relative;
    content: 'al1en-cod3s';
 }
 .extralink:hover h2.ali3n span{
    display: none;
 }
  .extralink:hover h2.ali3n::after{
    content: '◿␅☩₰⧘⦉⥥⛢⽰';
 }
 .extralink h2.meta{
    font-family:DroidSansMono;
    font-size:45px;
 }
 .extralink-sub {
    font-size:15px;
 }
 .desc{
  font-family: Sora;
  margin-top: 140px;
  color: white;
  position: relative;
  margin-left: 25%;
  font-size: 21px;
  margin-right: 5%;
 }
 .desc-2{
  font-family: Sora;
  margin-top: 140px;
  color: white;
  position: relative;
  text-align: justify;
  margin-left: 20%;
  font-size: 20px;
  margin-right: 20%;
 }
 .desc-2 h3{
  font-size: 22px;
  text-align: center;
  }
 .desc-2 h2{
  font-size: 45px;
  text-align: center;
  }
.photos-section{
	text-align: center;
	position: relative;
	width: 70%;
	height: auto;
	margin-left: 25%;
	margin-top: 70px;
}
.photos-section-2{
  text-align: center;
  position: relative;
  width: 84%;
  height: auto;
  margin-left: 8%;
  margin-top: 70px;
}
.photos-section-3{
  text-align: center;
  position: relative;
  width: 84%;
  height: 400px;
  margin-left: 8%;
  margin-top: 70px;
}
.row{
	margin-left: 0%;
	width: 100%;
	align-content: center;
	display: flex;
  	flex-wrap: wrap;
  	padding: 0 6px;
}
.column {
	flex: 33%;
	max-width: 400px;
	padding: 0 4px;
}
.column-2 {
  flex: 50%;
  max-width: 600px;
  padding: 0 20px;
}
.column img, .column-2 img{
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
}
footer { 
	width: 100%;
	height: 20px;
	position: relative;
 	left: 50%;
 	text-align: center;
 	margin-top: 100px;
 	top: 94%; 
 	bottom: 10px; 
 	transform: translate(-50%, 0); 
 	overflow-y: hidden;
 	overflow-x: hidden;
 	font-family: DroidSansMono;
  font-size: 13px;
 }
.socials{
 	position: relative;
 	top: -15px;
 	right: -40%;
 }
.socials img{
 	height: 20px;
 	width: 20px;
 	margin-left: 5px;
}
@media screen and (max-width: 800px) {
  .photos-section{
  	margin-top: 40px;
  }
  .photo-section h1{
  	font-size: 20px;
  }
  header{
  	left: -5px;
  }
  header h1{
  	font-size: 20px;
  }
  a{
  	font-size:19px;
  }
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
  .column-2 {
    flex: 100%;
    max-width: 100%;
    padding: 0 0px;
  }
  .desc {
    font-size: 14px;
  }
  .desc-2{
  font-family: Sora;
  margin-top: 170px;
  color: white;
  position: relative;
  margin-left: 8%;
  font-size: 12px;
  margin-right: 8%;
 }
 .desc-2 h3{
  font-size: 18px;
  }
 .desc-2 h2{
  font-size: 40px;
  }
  .header-2 a{
    font-size: 13px;
    padding: -1px;
  }
  header a{
  	font-size: 13px;
    padding: -1px;
  }
  footer{
  	transform: translate(-50%, 0); 
  	font-size: 10px;
  }
  .socials{
  	display: none;
  }
}












