@font-face {
	font-family: "Coolvetica";
	src: url("assets/fonts/coolvetica/coolvetica.ttf");
}
@font-face {
	font-family: "LGC_Bold";
	src: url("assets/fonts/lous/LouisGeorgeCafeBold.ttf");
}
@font-face {
	font-family: "LGC";
	src: url("assets/fonts/lous/normal.ttf");
}
@font-face {
	font-family: "Chomsky";
	src: url("assets/fonts/lous/Chomsky.otf");
}
* {
  color: white;
 	box-sizing: border-box; 
 	margin: 0; 
 	padding: 0; 
 	text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
 	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
} 
 }
 html, body {
  background-color: black;
 	height: auto;
 	width: 100%;
 	margin: 0;
 	padding: 5px; 
 	color: white; 
 	font-size: 12px; 
 	font-weight: 400; 
 	font-family: sans-serif;
 	line-height: 26px; 
 	text-align: center;
 }
a{
 	font-size: 16px;
 	font-family: sans-serif;
 	letter-spacing: 2px;
 	color: black;
 	text-decoration: none;
 }
a:hover{
 	text-decoration: underline;
 	text-decoration-color: red;
 }
.background{
  width: 100%;
  height: 100%;
  background-image:url('assets/designs/chaos.png');
  background-repeat:repeat;
  background-position: center;
}
.section{
	text-align: center;
	position: relative;
	width: 100%;
	height: auto;
	margin-left: 0%;
	margin-top: 0px;
}
.section img{
  margin-top: -40px;
  width: 26%;
}
.index{
  margin-top: -20px;
  margin: 0 auto;
  font-family: "Chomsky";
  letter-spacing: 3px;
  background-image: url('assets/designs/box-bg2.png');
  background-size: 100% 100%;
  width: 545px;
  height: 225px;
}
.last-works{
  position:inherit;
  background-image: url('assets/designs/last-works.png');
  background-size: 100% 100%;
  margin: 0 auto;
  width: 350px;
  height: 100px;
}
.last-works:hover{
  background-image: url('assets/designs/last-works2.png');
}
.row{
	margin-left: 15%;
	width: 70%;
	align-content: center;
	display: flex;
  flex-wrap: wrap;
  padding: 0 6px;
}
.column {
	flex: 50%;
	padding: 0 40px;
  background-color: black;
  border-radius: 20px;
  border: 3px solid;
}
.column img {
	width: 100%;
  height: 100%;
}
footer { 
	width: 100%;
	height: 20px;
	position: relative;
 	left: 50%;
 	text-align: center;
 	margin-top: 100px;
 	top: 94%; 
 	bottom: 10px; 
 	transform: translate(-50%, 0); 
 	overflow-y: hidden;
 	overflow-x: hidden;
 	font-family: LGC;
 }
.socials{
 	position: relative;
 	top: -18px;
 	right: -40%;
 }
.socials img{
 	height: 20px;
 	width: 20px;
 	margin-left: 5px;
}
@media screen and (max-width: 800px) {
  .section{
  	margin-top: 260px;
  }
  .section img{
  width: 40%;
}
  .photo-section h1{
  	font-size: 20px;
  }
  header{
  	left: -5px;
  }
  header h1{
  	font-size: 20px;
  }
  a{
  	font-size:10px;
  }
  a:hover{
  	font-size: 10px;
  }
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .section{
    margin-top: 230px;
  }
  .section img{
  width: 40%;
}
  .column {
    flex: 100%;
    max-width: 100%;
  }
  header{
  	font-size: 14px;
  }
  footer{
  	transform: translate(-50%, 0); 
  	font-size: 10px;
  }
  .socials{
  	display: none;
  }
}












