@font-face {
	font-family: "Coolvetica";
	src: url("assets/fonts/coolvetica/coolvetica.ttf");
}
@font-face {
	font-family: "LGC_Bold";
	src: url("assets/fonts/lous/LouisGeorgeCafeBold.ttf");
}
@font-face {
	font-family: "LGC";
	src: url("assets/fonts/lous/normal.ttf");
}
@font-face {
	font-family: "Chomsky";
	src: url("assets/fonts/lous/Chomsky.otf");
}
* { 
 	box-sizing: border-box; 
 	margin: 0; 
 	padding: 0; 
 	text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
 	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
} 
 }
 html, body { 
 	background-color: #eeeeee;
 	height: auto;
 	width: 100%;
 	margin: 0;
 	padding: 5px; 
 	color: #343434; 
 	font-size: 12px; 
 	font-weight: 400; 
 	font-family: sans-serif;
 	line-height: 26px; 
 	text-align: center;
 }
header{
	position: fixed;
	height: 250px;
	width: 20%;
	background-color: black;
	top: 10px;
	left: 10px;
}
.photos-section{
	position: relative;
	background-color: red;
	width: 70%;
	height: 1030px;
	margin-left: 22%;
	margin-top: 300px;
}
.row{
	display: flex;
  	flex-wrap: wrap;
  	padding: 0 4px;
}
.column {
  flex: 25%;
  max-width: 300px;
  padding: 0 4px;
}
.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
@media screen and (max-width: 800px) {
  .photos-section{
  	height: 8240px;
  }
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .photos-section{
  	height: 5000px;
  }
  .column {
    flex: 100%;
    max-width: 100%;
  }
}












