@font-face {
	font-family: "Coolvetica";
	src: url("assets/fonts/coolvetica/coolvetica.ttf");
}
@font-face {
	font-family: "LGC_Bold";
	src: url("assets/fonts/lous/LouisGeorgeCafeBold.ttf");
}
@font-face {
	font-family: "LGC";
	src: url("assets/fonts/lous/normal.ttf");
}
@font-face {
	font-family: "Chomsky";
	src: url("assets/fonts/lous/Chomsky.otf");
}
* { 
 	box-sizing: border-box; 
 	margin: 0; 
 	padding: 0; 
 	overflow-x: hidden;
 	text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
 	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
} 
 }
 html, body { 
 	background-color: #eeeeee; 
 	height: 100%; 
 	width: 100%;
 	margin: 0;
 	padding: 5px; 
 	position: relative; 
 	color: #343434; 
 	font-size: 12px; 
 	font-weight: 400; 
 	font-family: sans-serif;
 	line-height: 26px; 
 	text-align: center;
 }
 .site-title {
 	position: relative;
 	font-size: 80px;
 	font-family: "Coolvetica";
 }
 .nameSlideshow{
 	position: inherit;
 	left: 158px;
 	top: -93px;
 }
 .tagline{
 	position: absolute;
 	top: 90px;
 	width: 100%;
 	text-align: center;
 	font-family: "Helvetica";
 	font-size: 9px;
 }
.nav{
	position: absolute;
	height: 40px;
	top: 130px;
	overflow-y: hidden;
}
.nav a, .nav{
 	font-size: 13px;
 	font-family: sans-serif;
 	letter-spacing: 2px; 
 }
.nav a:hover{
 	font-size: 13px;
 	font-family: sans-serif;
 	text-decoration: underline;
 	font-weight: bold;
 	text-decoration-color: red;
 	color: black;
 }
.graphicdesign{
	position: relative;
}
 header{
 	position: absolute;
 	background-color: white;
 	border-radius: 25px;
 	height: 200px;
 	top: 40%; 
 	left: 50%; 
 	transform: translate(-50%, -50%);
 	text-align: center;
 	overflow-y: hidden;
 	z-index: 2;
 }
footer { 
	width: 100%;
	height: 20px;
	position: absolute;
 	left: 50%;
 	text-align: center;
 	top: 94%; 
 	bottom: 10px; 
 	transform: translate(-50%, 0); 
 	overflow-y: hidden;
 	font-family: LGC;
 	z-index: 2;
 }
 .tag{
 	font-size: 14px;
 	margin-top: 0px;
 	position: relative;
 }
 .socials{
 	position: relative;
 	top: -18px;
 	right: -40%;
 }
 .socials img{
 	height: 20px;
 	width: 20px;
 	margin-left: 5px;
}
 a { 
 	color: #343434; 
 	text-decoration: underline; 
 }
 a:hover, a:focus { 
 	text-decoration: none; 
 }
  @media screen and (max-width: 850px) {
header{
	width: 80%;
}
.site-title{
	font-size: 60px;
}
.nameSlideshow{
	top: -70px;
	left: 115px;
}
.nav a, .nav{
	font-size: 9px;
}
.tagline{
	font-size: 7px;
}
footer{
  	transform: translate(-50%, 0); 
  	font-size: 10px;
  }
.socials{
  	display: none;
  }
}
 @media screen and (max-width: 500px) {
header{
	width:100%;
}
.site-title{
	font-size: 65px;
}
.nameSlideshow{
	top: -76px;
	left: 130px;
}
.graphicdesign{
	position: relative;
}
.nav{
	width: 100%;
}
.nav a, .nav{
	font-size: 10px;
}
.nav a:hover{
 	font-size: 10px;
}
.tagline{
	font-size: 7px;
}
footer{
  	transform: translate(-50%, 0); 
  	font-size: 10px;
  }
.socials{
  	display: none;
  }
}
